<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Equipo</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 
	</head>
	
	<body>
		<div class="container mt-4">
		<div class="col-sm-6">
			<form th:action="@{/save}" th:object=${equipo} method="POST">
				<div class="card">
					<div class="card-header">
						<h3>EQUIPO</h3>
					</div>
					<div class="card-body">
						<input type="hidden" th:field="*{id}"/>
						<input type="hidden" th:field="*{estadio.id}"/>
						<div class="form-group">
							<label>Nombre</label>
							<input th:field ="*{nombre}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Nombre de estadio</label>
							<input th:field ="*{estadio.nombre}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Fech. de Fund.:</label>
							 <div class="form-group">
				                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
				                    <input type="date" class="form-control datetimepicker-input" data-target="#datetimepicker4"
				                    th:field= "*{estadio.fechaFundacion}"/>
				                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
				                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				                    </div>
				                </div>
				            </div> 
				            <!-- <input th:field ="*{estadio.fechaFundacion}" type="date" class="form-control"/> -->	
						</div>
						<div class="form-group">
							<label>Ciudad</label>
							<input th:field ="*{estadio.ciudad}" type="text" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Capacidad</label>
							<input th:field ="*{estadio.capacidad}" type="number" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Dirección</label>
							<input th:field ="*{estadio.direccion}" type="text" class="form-control"/>
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn btn-success">
					</div>
				</div>
			</form>
		</div>
		
		</div>
		
		<script type="text/javascript">
            	$(function () {
					$('#datetimepicker4').datetimepicker({
						format: 'L'							                    
					});
					
				});
		</script>
		
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
			
	</body>
</html>