<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="container">


<div th:insert="layout/header :: header"></div>


<h1>GESTION DE ESTADIOS</h1>
<form>
  <div class="form-group row">
    <label for="idnombre" class="col-md-3 col-form-label">Nombre</label>
    <div class="col-md-9">
      <input type="text" class="form-control" id="idnombre">
    </div>
  </div>
   <div class="form-group row">
    <label for="idFechaFundacion" class="col-md-3 col-form-label">Fecha Fund.</label>
    <div class="col-md-9">
      <input type="date" class="form-control" id="idFechaFundacion">
    </div>
  </div>
  <div class="form-group row">
    <label for="idciudad" class="col-md-3 col-form-label">Ciudad</label>
    <div class="col-md-9">
      <input type="text" class="form-control" id="idciudad">
    </div>
  </div>
  <div class="form-group row">
    <label for="idcapacidad" class="col-md-3 col-form-label">Capacidad</label>
    <div class="col-md-9">
      <input type="number" class="form-control" id="idcapacidad">
    </div>
  </div>
  <div class="form-group row">
    <label for="iddireccion" class="col-md-3 col-form-label">Direccion</label>
    <div class="col-md-9">
      <input type="text" class="form-control" id="iddireccion">
    </div>
  </div>  
  
  <div class="form-group row">
    <div class="col-md-10">
      <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
  </div>
</form>

<h1>LISTADO DE ESTADIOS</h1>
<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">Nombre</th>
	      <th scope="col">Ciudad</th>
	      <th scope="col">Capacidad</th>
	      <th scope="col">Direccion</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">Antonio Vespucio Liberti</th>
	      <td>Ciudad Capital</td>
	      <td>60000</td>
	      <td>Alcorta 4432</td>
	    </tr>
	    <tr>
	      <th scope="row">Emilio Fabrizi</th>
	      <td>Palpala</td>
	      <td>20000</td>
	      <td>Rio de la Plata s/n</td>
	    </tr>
	  </tbody>
	</table>
</div>

<div th:insert="layout/footer :: footer"></div>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>


</body>
</html>