<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!--  estos no tengo en el proyecto -->
<link th:rel="stylesheet"
	th:href="@{/css/tempusdominus-bootstrap-4.min.css}" />
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css} " />

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
	type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
	type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
	type="text/javascript"
	src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!--  estos no tengo en el proyecto -->
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>

<meta charset="utf-8">
<title>Login App</title>
</head>
<body>
	<div class="container">

		<form class="form" th:object="${usuarioDelForm}" th:action="@{/login}"
			method="post">
			<div class="form-group">
				<label for="dni">DNI</label> <input type="text" class="form-control"
					id="dni" aria-describedby="dniHelp" placeholder="Ingrese DNI"
					name="dni"> <small id="emailHelp"
					class="form-text text-muted">We'll never share your email
					with anyone else.</small>
			</div>
			<div class="form-group">
				<label for="contrasena">Password</label> <input type="password"
					class="form-control" id="contrasena" placeholder="Password"
					name="password">
			</div>
			<button type="submit" class="btn btn-primary">Ingresar</button>
			<div class="alert-danger text-center"
				th:if="${formLoginErrorMessage}" th:text="${formLoginErrorMessage}">Name
				Error</div>
		</form>

		<div th:if="${param.error}" class="alert alert-danger" role="alert">
			Combinación Invalida de Usuario y Contraseña</div>
		<div th:if="${param.logout}" class="alert alert-success" role="alert">
			Ha salido del Sistema. Gracias!</div>

		<div th:insert="layout/footer :: footer"></div>

	</div>
</body>
</html>