<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="container">

	<div th:insert="layout/header :: header"></div>
	
	
	<div class="row">
		<section class="col-md-8">
			
			<div class="row">
				<h3 class="col-md-12 text-center">Noticias de la Semana</h3>
			</div>
		
			<div class="row row-cols-1 row-cols-md-3">
			
			  <div class="col mb-4" th:each="noticia : ${noticias}">
			    <div class="card h-100">
			      <div class="card-header" th:text="${noticia.titulo}"></div>
			      <div class="card-body">
			        <p class="card-text" th:text="${noticia.resumen}"></p>
			      </div>
			    </div>
			  </div>
			  
			</div>		
		</section>
	
		<aside class="col-md-4">
			<div th:insert="layout/publicidad :: publicidad"></div>
		</aside>
	
	</div>
	
	

	<div th:insert="layout/footer :: footer"></div>
	
	
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
</body>
</html>