<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Ranking</title>
		<link rel="stylesheet" href="css/estilos.css"/>
	</head>
	
	<body>
		<div id="contenedor">
			<header>
				<h1>Bienvenidos a nuestro sitio</h1>
			</header>
			
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="ranking.html">Ranking</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			
			</nav>
			
			<section id="contenido" >
				<h2>Temas más escuchados</h2>
				<br/>
				<div>
					<table>
						<tr>
							<th>Portada</th>
							<th>Puesto</th>
							<th>Tema</th>
							<th>Autor</th>
						</tr>
						<tr>
							<td><img src="img/random_1.jpg" alt="disco random"/></td>
							<td>1</td>
							<td>Random</td>
							<td>Charly Garcia</td>
						</tr>
						<tr>
							<td><img src="img/lebon_1.jpg" alt="disco lebon & co"/></td>
							<td>2</td>
							<td>Mundo Agradable</td>
							<td>David Lebón</td>
						</tr>
						<tr>
							<td><img src="img/leiva_1.jpg" alt="disco1"/></td>
							<td>3</td>
							<td>Como si fueras a morir</td>
							<td>Leiva</td>
						</tr>
						<tr>
							<td><img src="img/queen_1.jpg" alt="Bohemian Rhapsody"/></td>
							<td>4</td>
							<td>Bohemian Rapsody</td>
							<td>Queen</td>
						</tr>
						
						
					</table>
				</div>
			</section>
			
			<aside>
				<h2>Auspiciantes</h2>
			</aside>
			
			<footer>
				<h2>Pie de Página</h2>
			</footer>
		</div>
	</body>
</html>