<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!--  estos no tengo en el proyecto -->
<link th:rel="stylesheet" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
<!--  estos no tengo en el proyecto -->
<script th:src="@{/js/moment.min.js}"></script>		
<script th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>


<meta charset="utf-8">
<title>Formulario Usuarios</title>
</head>
<body>
	<div class="container">

	<div th:insert="layout/header :: header"></div>

		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item"><a id="formulario-tab"
				class="nav-link active" href="#formulario" data-toggle="tab"
				role="tab" aria-controls="formulario" aria-selected="true">Formulario</a></li>
			<li class="nav-item"><a id="lista-tab" class="nav-link"
				href="#lista" data-toggle="tab" role="tab" aria-controls="lista"
				aria-selected="false">Lista</a></li>				
		</ul>
		<div class="tab-content">
			<div class="tab-pane fade show active" id="formulario" role="tabpanel" aria-labelledby="formulario-tab">
				<div class="card">
					<div class="card-header">
						<h4>Usuarios</h4>
					</div>
					<div class="card-body">
						<form class="form" role="form" autocomplete="off" method="post">
							<div class="row">
								<div class="col">								
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Apellido:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text">											
										</div>
									</div>

									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Dirección:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text">											
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">DNI:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text">											
										</div>
									</div>

									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Contraseña:</label>
										<div class="col-lg-9">
											<input class="form-control" type="password">											
										</div>
									</div>
								</div>
								<div class="col">
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Nombre:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text">																						
										</div>
									</div>
									
									<div class="form-group row">
										<label for="fecha" class="col-lg-3 col-form-label form-control-label">Fecha Nac:</label>
					                    <div class="col-lg-9 input-group date" id="datetimepicker1" data-target-input="nearest">
					                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
					                               id="fecha" placeholder="Fecha"/>
					                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
					                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
					                        </div>					                        
					                    </div>									
									</div>
									
									<div class="form-group row">
										<label for="fecha" class="col-lg-3 col-form-label form-control-label">Fecha Alta:</label>
					                    <div class="col-lg-9 input-group date" id="datetimepicker2" data-target-input="nearest">
					                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"
					                               id="fecha" placeholder="ingresar Fecha de Alta"/>
					                        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
					                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
					                        </div>					                        
					                    </div>									
									</div>									

									<script type="text/javascript">
            							$(function () {
							                $('#datetimepicker1').datetimepicker({
							                    format: 'L'							                    
							                });
							                $('#datetimepicker2').datetimepicker({
							                    format: 'L'							                    
							                });
							            });
							        </script>

									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Tipo:</label>
										<div class="col-lg-9">
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios1" id="gridRadios1" value="option1" checked>
												<label class="form-check-label" for="gridRadios1">SOCIO</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios2" value="option2">
												<label class="form-check-label" for="gridRadios2">ADMIN</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios3" id="gridRadios3" value="option3">
												<label class="form-check-label" for="gridRadios3">CONSULTOR</label>
											</div>
										</div>
									</div>
								</div>
								.
							</div>
							<div class="form-group row">
								<div class="col-lg-12 text-center">
									<a class="btn btn-secondary"
										th:href="@{'formularioUsuario/cancelar'}">Cancelar</a> 
									<input type="submit" class="btn btn-primary" value="Save Changes"
										th:value="${editMode}?'Guardar Usuario':'Crear Usuario'">
								</div>
							</div>
							<div class="alert-danger text-center"
								th:if="${formUsuarioErrorMessage}"
								th:text="${formUsuarioErrorMessage}">Name Error</div>
						</form>

					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="lista" role="tabpanel" aria-labelledby="lista-tab">
				<div class="card">
					<div class="card-header">
						<h4>Listado de Usuarios</h4>
					</div>
					<div class="card-body">	
						<table id="userList" class="table table-bordered table-hover table-striped">
							<thead class="thead-dark">
								<tr>
									<!-- <th scope="col">#</th> -->
									<th scope="col">ID</th>
									<th scope="col">Apellido</th>
									<th scope="col">Nombre</th>
									<th scope="col">Email</th>
									<th scope="col">DNI</th>
									<th scope="col">Fecha Nac</th>
									<th scope="col">Sexo</th>
									<th scope="col">Editar</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<!-- <th scope="row">1</th> -->
									<td >125</td>
									<td >juan</td>
									<td >manuel</td>
									<td >gustso</td>
									<td >15 hs</td>
								</tr>
								<tr>
									<td >125</td>
									<td >juan</td>
									<td >manuel</td>
									<td >gustso</td>
									<td >15 hs</td>
								</tr>
									
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


	<div th:insert="layout/footer :: footer"></div>

	</div>



</body>
</html>